/* Navigation styles */

.nav-wrapper {
    background-color: #333333;
    height: 48px;
    color: #f5f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-wrapper>.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    align-text: center;
    padding: 0 10px;
    font-size: 13px;
    filter: brightness(80%);
    font-family: 'Montserrat', sans-serif;
    ;
}